#!/bin/sh

DATE=`date +%Y-%m-%d`

curl -X POST https://content.dropboxapi.com/2/files/upload \
    --header "Authorization: Bearer {{ dropbox_token }}" \
    --header "Dropbox-API-Arg: {\"path\": \"/fazilion_$DATE.db\"}" \
    --header "Content-Type: application/octet-stream" \
    --data-binary @{{ net_worth_path }}/data/stocks.db
