const http = require('http');

const port = {{ node_webpage_service_port }};

const server = http.createServer((req, res) => {
  res.statusCode = 200;
  res.setHeader('Content-Type', 'text/plain');
  res.end('Deploy {{ node_webpage_service_name }} via travis-ci\n');
});

server.listen(port, () => {
  console.log(`{{ node_webpage_service_name }} hello world running at http://localhost:${port}/`);
});
