[Unit]
Description={{ node_webpage_service_name }} service
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="PORT={{ node_webpage_service_port }}"
Type=simple
Restart=always
RestartSec=1
User={{ node_webpage_user }}
WorkingDirectory={{ node_webpage_path }}
ExecStart=/usr/bin/env npm --prefix {{ node_webpage_path }} run start /var/log/{{ node_webpage_service_name }}/node.log 2>&1

[Install]
WantedBy=multi-user.target
