www.berlingame.cz, berlingame.cz {
  reverse_proxy /* 127.0.0.1:2000
  log {
    format console
    output file {{ caddy_log_dir }}/berlingame.log
  }
  tls {{ tls_email }}
}

www.fazilion.com, fazilion.com {
  reverse_proxy /* 127.0.0.1:4000
  log {
    format console
    output file {{ caddy_log_dir }}/fazilion.log
  }
  tls {{ tls_email }}
}

www.kraag22.com, kraag22.com {
  tls {{ tls_email }}
  root * {{ blog_path }}
  file_server
  try_files {path}.html {path}
  log {
    format console
    output file {{ caddy_log_dir }}/kraag22.log
  }
}

analytics.kraag22.com {
  tls {{ tls_email }}
  reverse_proxy /* http://{{ analytics_server_ip }}
  log {
    format console
    output file {{ caddy_log_dir }}/analytics.log
  }
}

plausible.kraag22.com {
  reverse_proxy /* 127.0.0.1:5000
  log {
    format console
    output file {{ caddy_log_dir }}/plausible.log
  }
  tls {{ tls_email }}
}

www.gamarna.cz, gamarna.cz {
  tls {{ tls_email }}
  reverse_proxy /* 127.0.0.1:{{ graphs_service_port }}
  log {
    format console
    output file {{ caddy_log_dir }}/gamarna.log
  }
}
